.landing-box {
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 2em 1em;
}
.portrait {
  width: 100%;
  border: 5px solid rgb(255, 255, 255);
}
.landing-fa-github {
  -webkit-font-smoothing: antialiased;
  background-image: none;
  border: 3px solid #fff;
  box-sizing: border-box;
  color: #fff;
  padding: 7px 3px 7px 7px;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.5s;
}
.landing-fa-github:hover {
  background-color: #282828;
  border-color: gray;
}

.landing-fa-linkedin {
  -webkit-font-smoothing: antialiased;
  background-image: none;
  border: 3px solid #fff;
  box-sizing: border-box;
  color: #fff;
  padding: 7px 3px 7px 7px;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.5s;
}
.landing-fa-linkedin:hover {
  background-color: #0073b0;
  border-color: #0073b0;
}
