@import '../../../assets/css/variables.scss';
.carousel-caption {
  position: relative;
  border: none !important;
  background-color: rgb(94, 94, 94);
  // background-color: rgb(235, 235, 235);
  color: $light;
  height: 60px;
  // height: 85px;
  font-size: medium;
  left: 0;
  top: -10px;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -8px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
