// google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

@import '~bootswatch/dist/lux/variables';
// bootstrap variable overrides
@import './variables.scss';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/lux/bootswatch';

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: $headings-letter-spacing;
}
button,
a {
  letter-spacing: $link-letter-spacing;
}

body {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0px;
}

p {
  letter-spacing: $letter-spacing;
}

/* Custom Scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5a5a5a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(158, 158, 158, 0.719);
  // background: #8b7c59;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(153, 153, 153, 0.432);
}
/* //Custom Scroll bar*/

.slide-up-button {
  font-weight: $font-weight-normal;
  letter-spacing: $link-letter-spacing;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  color: $light !important;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, $primary 50%, $light 50%);
  transition: 0.4s;
}

.slide-up-button:hover {
  text-decoration: none;
  color: $dark !important;
  background-position: 0 -100%;
}
button:focus,
a:focus {
  outline: none;
}

.parallax-tint {
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 100vw 100vh rgba(0, 0, 0, 0.3) inset;
  z-index: 0;
}

.landing-background {
  background-image: url('../../assets/images/el-capitan.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  box-shadow: 100vw 100vh rgba(0, 0, 0, 0.3) inset;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.content {
  padding-top: calc(80px + 2 * ((100vw) / 680)) !important;
}

.sticky + .content {
  padding-top: calc(90px + 2 * ((100vw) / 680));
}
.link {
  text-decoration: none;
  cursor: pointer !important;
}
.real-link {
  color: $warning !important;
  font-weight: bold;
  cursor: pointer !important;
}
.real-link:hover {
  text-decoration: underline !important;
}
