// bootstrap theme overides go here, before the import
$primary: #2b3c58;
$secondary: gray;
$light: #ece8df;
$white: white;
$warning: #8b7c59;
$dark: #282c34;
$splash: #282c34;

// $body-color: $secondary;
// $primary: #161e2e;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 993px,
  xxl: 1900px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);
