.splash-screen-container {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  // center horizontal and verticle, display: flex required
  align-items: center;
  justify-content: center;
  // center horizontal and verticle, display: flex required

  overflow: hidden;
  position: fixed;
  z-index: 9999;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App-logo {
  opacity: 00;
  width: calc(10px + 25vmin);
  pointer-events: none;
  position: relative;
  // animation: App-logo-spin infinite 2s linear, App-logo-glow infinite 3s ease,
  //   App-logo-grow infinite 3s ease, App-logo-hover infinite 3s ease,
  //   fade-in 1s ease-in-out 1, fade-out 1.2s ease-in-out 1s;
  // -webkit-animation: App-logo-spin infinite 2s linear,
  //   App-logo-glow infinite 3s ease, App-logo-grow infinite 3s ease,
  //   App-logo-hover infinite 3s ease, fade-in 1s ease-in-out 1,
  //   fade-out 1.2s ease-in-out 1s;
  //   animation: App-logo-spin infinite 2s linear,
  //     App-logo-glow infinite 3s ease-in-out, fade-in 1s ease-in 1s,
  //     fade-out 1.2s ease-in-out 1s;
  //   -webkit-animation: App-logo-spin infinite 2s linear,
  //     App-logo-glow infinite 3s ease App-logo-hover infinite 3s ease,
  //     fade-in 1s ease-in 1s, fade-out 1.2s ease-out 1s;
}
// .fade-in-from-black {
//   background: rgba(40, 44, 52, 1);
//   animation: fade-in-from-black 1s ease-in-out 1.9s;
//   -webkit-animation: fade-in-from-black 1s ease-in-out 1.9s;
//   z-index: 100 !important;
//   position: fixed;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 2s linear, App-logo-glow infinite 3s ease,
//       App-logo-grow infinite 3s ease, App-logo-hover infinite 3s ease;
//   }
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// @keyframes App-logo-glow {
//   0% {
//     filter: drop-shadow(0px 0px 5px rgba(41, 169, 255, 0.8));
//   }
//   50% {
//     filter: drop-shadow(0px 0px 50px rgba(41, 169, 255, 0.8));
//   }
//   100% {
//     filter: drop-shadow(0px 0px 5px rgba(41, 169, 255, 0.8));
//   }
// }
// @keyframes App-logo-grow {
//   0% {
//     width: calc(10px + 20vmin);
//   }
//   50% {
//     width: calc(10px + 30vmin);
//   }
//   100% {
//     width: calc(10px + 20vmin);
//   }
// }
// @keyframes App-logo-hover {
//   0% {
//     top: 0px;
//   }
//   50% {
//     top: -25px;
//   }
//   100% {
//     top: 0px;
//   }
// }
// @keyframes fade-out {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }
// @keyframes fade-in {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// @keyframes fade-in-from-black {
//   0% {
//     background-color: #282c34;
//     min-height: 100vh;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     overflow: hidden;
//     position: fixed;
//     background: rgba(40, 44, 52, 1);
//     z-index: 100 !important;
//   }
//   100% {
//     min-height: 100vh;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     overflow: hidden;
//     position: fixed;
//     background: none;
//     // background-position: 0 -100%;
//   }
// }
