// bootstrap variable overrides
@import '../../assets/css/variables.scss';

$ham-size: 20px;

.header {
  font-family: 'Lucida Console', Monaco, monospace;
  // z-index: -1;
}

.ham {
  fill: $light;
  height: $ham-size;
  position: absolute;
  right: 10px;
  top: 10px;
}

hr {
  border-top-color: $warning;
}

.mobile-link {
  z-index: -1;
}

.nav-menu-mobile {
  position: absolute;
  top: -21px;
}
.mobile-options-container {
  // background-color: rgba(43, 42, 42, 0.9);
  // background-color: #252f3f;
  background-color: rgb(43, 42, 42);

  // position: fixed;
  // top: 0;
  // right: 0;
}

@media (max-width: 1010px) {
  .header {
    font-size: calc(20px + 10 * ((100vw - 320px) / 680));
  }
}
.link:hover {
  color: $white !important;
  // transform: translate(0px, -5px);
}
