// bootstrap variable overrides
@import '../../assets/css/variables.scss';

$ham-size: 20px;

.header {
  font-family: 'Lucida Console', Monaco, monospace;
}

.ham {
  fill: $light;
  height: $ham-size;
}

@media (max-width: 1010px) {
  .header {
    font-size: calc(20px + 10 * ((100vw - 320px) / 680));
  }
}
.link:hover {
  color: $white !important;
  // transform: translate(0px, -5px);
}
